body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    background: #696969;
}

.panel {
    margin: 70px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.no {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    text-align: center;
}

.watermark {
    color: #787878;
    font-size: 80pt;
}