.context {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 270px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #878B90;
    background: rgba(0, 0, 0, 0.7);
    font-size: 9pt;
    border: 1px solid #333333;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    padding: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.context .context-item {
    padding: 4px 19px;
    cursor: default;
    color: inherit;
}

.context .context-item {
    color: #878B90;
}

.context .enabled.context-item:hover {
    background: #73ff00;
    color: #000;
    font-weight: bold;
}

.context .separator {
    margin: 4px 0px;
    height: 0;
    padding: 0;
    border-top: 1px solid #454545;
}

.context .context-item-hotkey {
    float: right;
    font-weight: bold;
}

.context .enabled.context-item {
    color: #73ff00;
}